:root {
    --background-color: rgb(159,110,205);
    --grey: rgb(80, 80, 80);
    --male: rgb(32, 106, 255);
    --malefaded: rgba(32, 106, 255, 0.45);
    --female: deeppink;
    --femalefaded: rgba(255, 20, 145, 0.45);
    --faded: rgba(255, 255, 255, 0.25);
}
body {
    /* background-color: var(--background-color); */
    background-image: linear-gradient(to bottom, transparent, lightgrey, var(--background-color), var(--background-color));
    overflow: hidden;
    position: relative;
    height: 100vh;
    padding: none;
}
.name-wrapper {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    min-height: 40vh; 
    width: 100vw;
    top: 0;
    left: 0; 
    right: 0;
    padding: none;
}
#name {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 0;
    bottom: 0;
    font-size: larger;
    z-index: 3;
    border: 4px solid white;
    border-radius: 30px;
    box-shadow: 0px 0px 12px black;
    height: 75%;
    margin: 50px auto;
    color: var(--grey);
    padding: 1vw 3vw;
}
.button-wrapper {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    height: 50vh;
    width: 99vw;
}
.button {
    position: relative;
    top: 25%;
}
.btn {
    position: relative;
    height: 40%;
    width: 130px;
    border: 5px solid;
    border-radius: 100%;
    box-shadow: 0px 0px 15px var(--grey);
}
.btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px white;
}
#boyName {
    /* background-color: rgb(32, 106, 255); */
    background-color: transparent;
    border-color: var(--malefaded);
    z-index: 2;
}
#girlName {
    /* background-color: deeppink; */
    background-color: transparent;
    border-color: var(--femalefaded);
    z-index: 2;
}
#boyName:active {
    background-color: var(--male);
    border: 7px solid var(--faded);
}

#girlName:active {
    background-color: var(--female);
    border: 7px solid var(--faded);
}
#name-lock {
    visibility: hidden;
    position: absolute;
    top: 30%;
    z-index: 2;
}
@media only screen and (max-width:500px) {
    .btn {
        width: 100px;
    }
    #name-lock {
        top: 75%;
    }
    #name {
        height: 70%;
        justify-content: center;
        border: none;
        box-shadow: none;
        font-size: 150%;
        color: var(--background-color);
        -webkit-text-stroke: 1px var(--grey);
    }
}
@media only screen and (max-width: 360px) {
    .nameholder {
        margin: 0px auto;
        text-align: center;
    }
}