body {
    background-color: aquamarine;
    overflow: hidden;
    height: 100vh !important;
    width: 100vw;
}
h1 {
    padding: 10px;
}
.name-wrapper {
    padding-top: 15%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 50%; 
    background-color: beige;
    height: auto;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
}
#name {
    position: relative;
    height: 100%;
    font-size: larger;
}
.button-wrapper {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    height: 50vh;
    width: 99vw;
}
.button {
    position: relative;
    top: 25%;
}
.btn {
    position: relative;
    height: 40%;
    width: 130px;
    border: 3px solid black;
    color: darkblue;
    box-shadow: black 2px 4px 2px;
}
.btn:hover {
    cursor: pointer;
}
#boyName {
    background-color: rgb(32, 106, 255);
    z-index: 2;
}
#girlName {
    background-color: deeppink;
    right: 10px;
    z-index: 2;
}
#boyName:active, #girlName:active {
    background-color: rgb(154, 154, 154);
    color: white;
}
#name-lock {
    visibility: hidden;
    position: absolute;
    top: 30%;
    z-index: 2;
}
@media only screen and (max-width:500px) {
    .btn {
        width: 75px;
    }
    #name-lock {
        top: 75%;
    }
}